 body {
     font-family: monospace, Arial, Helvetica, sans-serif, 微軟正黑體;
     background-color: rgb(200, 208, 216);
     min-width: 1270px;
     .login_bg {
         background: #191b25;
     }
 }