@charset "UTF-8";
header {
  width: 100%;
  margin: 0 auto;
  font-size: 13px;
  min-height: 93px;
  background: #4aabf5;
  display: flex; }
  header .logo {
    width: 25%;
    background: #4000f5; }
    header .logo .time {
      color: #ffffff; }
  header .link_Bn_center {
    width: 50%;
    background: #5260f5; }
    header .link_Bn_center .link_Button {
      background-color: #5260f5;
      color: black;
      border: 2px solid #f44336;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s;
      cursor: pointer; }
      header .link_Bn_center .link_Button:hover {
        background-color: #f44336;
        color: white; }
  header .link_Bn_right {
    width: 25%;
    background: #886532; }

blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0; }

body {
  font-family: monospace, Arial, Helvetica, sans-serif, 微軟正黑體;
  background-color: #c8d0d8;
  min-width: 1270px;
  min-height: 960px;
  height: 100%;
  position: relative;
  display: block; }
  body .login_bg {
    background: #191b25;
    margin: 0;
    width: 100%;
    min-height: 100%;
    background: url(../img/web_bg01.jpg) center top no-repeat #5e5e5e;
    position: absolute;
    background-size: cover; }
    body .login_bg .login_form {
      margin: 430px 0 0 40%; }

.input_text {
  color: #ff0; }

nav {
  background-color: #FFECC9;
  width: 150px;
  height: 700px;
  text-align: center;
  line-height: 400px;
  float: left; }
  nav .quota_block {
    height: 80px;
    background: #1e68a7;
    display: grid; }
    nav .quota_block span {
      line-height: 22px;
      font-size: 6px; }
  nav .nav_type {
    line-height: 22px;
    cursor: pointer; }
