nav {
    background-color: #FFECC9;
    width: 150px;
    height: 700px;
    text-align: center;
    line-height: 400px;
    float: left;
    .quota_block {
        background: #1e68a7;
        span {
            font-size: 6px;
        }
    }
}